.navbar-toggler:focus{
  box-shadow: none;
  border: none;
  outline: none;
}
.btn-primary:focus{
  box-shadow: none;
}
.navbar{
     /* background-color:#0a235a; */
     border-bottom: 2px solid white;
     padding:20px;
     box-shadow: .3px .4px 45px rgb(0,0,0,0.3) !important;
   }.btn-primary{
     background-color: #00aaff;
   }
   .carousel-caption{
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width:80%;
     text-align: left;
   }
   .carousel-caption .h1{
     font-family: 'nunito';
     font-size: 65px;
     font-weight: 900;
     color: white;
     margin-bottom: 20px;
}.carousel-caption .h3{
     font-size: 35px;
     width: 50%;
     margin-bottom: 20px;
   }.carousel-caption .btn-primary{
     padding: 15px 30px;
     font-size: 17px;
   }
   @media(max-width:1200px){
     
     .carousel-caption{
          top: 40%;
        }
    
   }
   @media(max-width:990px){
     .carousel-item img{
          height: 400px;
     }
     .carousel-caption{
          top: 40%;
        }
        .carousel-caption .h1{
          font-family: 'nunito';
          font-size: 55px;
          color: white;
          margin-bottom: 20px;
          
        }.carousel-caption .h3{
          font-size: 35px;
          width: 90%;
        }
   }
   @media(max-width:550px){
    .navbar{
      padding: 5px;
    }
     .carousel-item img{
          height: 400px;
     }
        .carousel-caption .h1{
          font-family: 'nunito';
          font-size: 35px;
          color: white;
          margin-bottom: 20px;
     }.carousel-caption .h3{
          font-size: 25px;
          width: 100%;
        }
        .carousel-caption .btn-primary{
          padding: 8px 20px;
          font-size: 15px;
        }
   }
   input{
    width: 100%;
   }
   input:focus{
    outline: none !important;
    box-shadow: none !important;

   }
   .product-cards{
     margin:10px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 10px;
    
   }
   .product-cards .product-card{
     flex:0 0 25% !important;
     max-width:22% !important;
     display: flex !important;
     /* justify-content: center !important; */
     /* align-items: center !important; */
     flex-direction:column !important;
     border-radius: 10px;
     overflow: hidden;
     transition: all .3s ease;
    }
    .product-cards .product-card:hover{
     box-shadow: .4px .4px 24px rgb(0,0,0,0.2);
     transform: translateY(-5px);
   }
   .product-card .card-img{
    overflow: hidden;
   }
   .product-card .card-img img{
    transition: all .3s ease;
   }
   .product-card:hover .card-img img{
    transform: scale(1.2);
   }
   @media(max-width:990px){
     .product-cards .product-card{
         flex:0 0 45% !important;
         max-width:45% !important;
       }
   }
   @media(max-width:550px){
     .product-cards .product-card{
         flex:0 0 90% !important;
         max-width:90% !important;
       }
   }
   .product-card .card-body .card-text{
    min-height: 97px;
   }
   .promotional-section{
     margin:auto;
     margin-top:40px;
     margin-bottom:40px;
     display:block;
     width:88%;
     
   }
   .promotional-section button{
     margin-bottom: 20px;
   }
   .promotional-section .card{
    background: linear-gradient(45deg, transparent, #00aaff);
     padding: 20px 10px;
    
   }
   a{
     text-decoration:none;
   }
   footer{
     background:#00aaff;
     color:white;
   }
   /* Search bar */

   .search-box{
    width: fit-content;
    display: none;
    height: fit-content;
    position: relative;
  }
  #mobile-img-1,#mobile-img-2{
    display: none;
  }
  .mobile-img{
    display: none !important;
  }
  @media(max-width:550px){
    .search-box{
      display: block;
    }
    .navbar-brand{
      display: none;
    }.nav-search{
      display: none !important;
    }.mobile-img{
      display: block !important;
      float: right;
    }.desktop-img{
      display: none !important;
    }
    #mobile-img-1,#mobile-img-2{
      display: block !important;
      float: right;
      width: 230px;
    }
  }
 
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    color:black;
  }
  .input-search::placeholder{
    color:black;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:rgba(0,0,0,.55);
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 240px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid black;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 240px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid black;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  @media(max-width:410px){
    
     .btn-search:focus ~ .input-search{
      width: 200px;
    }
    .input-search:focus{
      width: 200px !important;
    }
    .input-search::placeholder{
      font-size: 13px; 
    }
  }
   /* Search bar */
   /* back to top */
   #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    }
   /* back to top */
